@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a{
	text-decoration: none !important;
	color: inherit !important;
}
body{
	background-image: url('../image/Mask Group 7.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	overflow-x: hidden;
	background-attachment: fixed;
}
.text_yellow{
	color: #FFC218 !important;
}
section{
	overflow: hidden;
}
/*nav*/
nav{
	background-color: #E7F1F8;
	padding: 42px 35px 42px 13px !important;
}
a.navbar-brand {
	padding: 0 !important;
}
.logo{
	width: 200px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 35px;
	border-radius: 0 0 22px 22px;
}
.logo img{
	width: 100%;
}
.logo_text,
.nav_link {
	padding-left: 255px;
}
.logo_text p{
	font-size: 29px;
	font-weight: bold;
	margin: 0;
}
nav li a, nav li a.icon_link.login {
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	color: #000 !important;
	font-weight: bold;
	padding: 9px 15px !important;
	text-align: center;
	margin-left: 15px;
	border-radius: 5px;
	line-height: normal;
	transition: all 0.3s;
	width: auto !important;
}
nav li a.icon_link{
	height: 50px !important;
	width: 50px !important;
	padding: 9px !important;
	line-height: 32px !important;
}
nav li a:hover{
	background-color: #fff;
}
/*about*/
.about_section{
	padding-top: 100px;
}
.about_text{
	background-color: #E7F1F8;
	border: 6px solid #A3D9FF;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0px 4px 6px #77D1F129;
}
.about_text h5{
	display: inline-block;
	font-size: 36px;
	font-family: 'Rubik', sans-serif;
	margin: 0;
	position: relative;
}
.about_text h5::after{
	content: '';
	position: absolute;
	bottom: -7px;
	left: 0;
	right: 29px;
	border-bottom: 5px solid #A3D9FF;
}
.about_text p{
	padding-top: 20px;
	line-height: 30px;
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	margin: 0;
	font-weight: lighter;
}
/*cards*/
.cards_section{
	padding-top: 58px;
}
.margin_top{
	margin-top: 40px;
}
.cards{
	padding: 20px;
	border: 1px solid #DFDFDF;
	border-radius: 30px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0px 4px 6px #F8F0E7;
}
.card_text h6{
	font-family: 'Rubik', sans-serif;
	font-size: 23px;
}
.card_text p{
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	color: #707070;
}

.yellow_color{
	transition: all 0.3s;
	background: rgba(255,209,82,1);
	background: -moz-linear-gradient(top, rgba(255,209,82,1) 0%, rgba(255,189,9,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,209,82,1)), color-stop(100%, rgba(255,189,9,1)));
	background: -webkit-linear-gradient(top, rgba(255,209,82,1) 0%, rgba(255,189,9,1) 100%);
	background: -o-linear-gradient(top, rgba(255,209,82,1) 0%, rgba(255,189,9,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,209,82,1) 0%, rgba(255,189,9,1) 100%);
	background: linear-gradient(to bottom, rgba(255,209,82,1) 0%, rgba(255,189,9,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd152', endColorstr='#ffbd09', GradientType=0 );
	color: #000;
	padding: 16px 20px;
	font-size: 13px;
	font-weight: bold;
	border-radius: 11px;
	display: inline-block;
	width: 170px;
	text-align: center;
}
.purple_color{
	background: rgba(219,98,175,1);
	background: -moz-linear-gradient(top, rgba(219,98,175,1) 0%, rgba(114,21,81,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(219,98,175,1)), color-stop(100%, rgba(114,21,81,1)));
	background: -webkit-linear-gradient(top, rgba(219,98,175,1) 0%, rgba(114,21,81,1) 100%);
	background: -o-linear-gradient(top, rgba(219,98,175,1) 0%, rgba(114,21,81,1) 100%);
	background: -ms-linear-gradient(top, rgba(219,98,175,1) 0%, rgba(114,21,81,1) 100%);
	background: linear-gradient(to bottom, rgba(219,98,175,1) 0%, rgba(114,21,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#db62af', endColorstr='#721551', GradientType=0 );
	color: #fff !important;
	cursor: not-allowed;
	padding: 16px 20px;
	font-size: 13px;
	font-weight: bold;
	border-radius: 11px;
	display: inline-block;
	width: 170px;
	text-align: center;
}
.time_text_box{
	position: relative;
	padding-top: 8px;
}
.time_text_box img{
	position: absolute;
	top: inherit;
	left: 0;
	object-fit: cover;
}
.time_text_box p,
.time_text_box h6{
	margin: 0;
	display: inline-block;
	font-size: 18px !important;
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
}
.time_text_box .time{
	padding-left: 38px;
	color: #000;
}
.time_text_box .time_text{
	padding-left: 13px;
	color: #9B3376;
	font-weight: 500;
}
.card_image {
	position: relative;
	overflow: hidden;
	padding-top: 140%;
}
.card_image img{
	max-width: 100%;
	max-height: 100%;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	object-fit: cover;
	/*height: 280px;*/
}
.view_btn {
	width: 100%;
	padding: 65px 0;
}
.view_btn a{
	padding: 18px 34px;
	width: auto;
}
.view_btn a img {
	max-width: 30px;
}
.game_img_btn .hint{
	padding: 13px 26px;
	width: auto;
}
.game_img_btn .question{
	padding: 13px 26px;
	width: auto;
	background: transparent !important; 
}
/*second_page*/
.game_image_section{
	padding-top: 90px;
}
.heading_text h5{
	font-size: 41px;
	font-family: 'Rubik', sans-serif;
	margin: 0;
}
.heading_text p{
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
	margin: 0;
	color: #707070;
}
.game_image{
	border: 1px solid #DFDFDF;
	border-radius: 30px;
	overflow: hidden;
	margin-top: 20px;
}
.game_row{
	display: flex;
}
.game_img_col{
	flex: 5;
}
.game_icon_col{
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: #fff;
}
.game_img{
	overflow: hidden;
	object-fit: cover;
}
.game_img img{
	width: 100%;
}
.icons a{
	border: 1px solid #E7F1F8;
	box-shadow: 0px 3px 6px #5EE9FF8F;
	border-radius: 50%;
	text-align: center;
	transition: all 0.3s;
	display: inline-block;
	width: 84px;
	height: 84px;
	padding: 5px;
	line-height: 74px;
	text-align: center;
}
.icons a:hover{
	box-shadow: 0 0 0 0;
	/*background-color: #5EE9FF8F;*/
}
.icons a img{
	max-width: 35px;
	max-height: 35px;
}
/*game_text*/
.game_text_section{
	padding: 90px 0;
}
.game_text_box{
	overflow: hidden;
	border-radius: 30px;
}
.game_text_heading{
	background-color: #E7F1F8;
	padding: 28px 40px;
	border: 1px solid #E7F1F8;
}
.game_text_heading h4{
	margin: 0;
	font-size: 30px;
}
.game_text_heading h4 span{
	font-weight: 100;
}
.game_text{
	padding: 30px 40px;
	border-top: none !important;
	border: 1px solid #DFDFDF;
	border-radius: 0 0 30px 30px;
	background-color: #fff;
}
.game_text h5{
	margin: 0;
	font-family: 'Rubik', sans-serif;
	font-size: 30px;
}
.game_text p{
	font-size: 18px;
	font-weight: lighter;
	padding: 15px 0 25px;
}
.game_text a{
	padding: 9px 40px;
	font-size: 13px;
	line-height: 30px;
	width: unset;
}
/*thired page*/
.game_page_section{
	padding: 90px 0;
}
.game_section{
	border: 1px solid #DFDFDF;
	border-radius: 30px;
	background-color: #fff;
	overflow: hidden;
	margin-top: 20px;
}
.game_subtext{
	padding: 50px 60px;
}
.game_clues{
	position: relative;
}
.game_clues img{
	position: absolute;
	bottom: 3px;
	left: -34px;
}
.game_clues h5{
	font-size: 33px;
	font-family: 'Rubik', sans-serif;
	margin: 0;
}
.game_clues h6{
	font-size: 25px;
	font-family: 'Rubik', sans-serif;
}
.clue_description{
	padding: 15px 0;
}
.clue_description h5{
	font-size: 30px;
	font-weight: bold;
}
.clue_description p{
	font-size: 16px;
	font-weight: lighter;
}
.answers{
	border: 1px solid #DFDFDF;
	border-radius: 15px;
	padding: 20px;
}
.answers h5{
	font-size: 27px;
	font-weight: bold;
}
.answers h6 {
	font-size: 20px;
}
.answers h6 span{
	font-weight: lighter;
}
.seconds{
	border: 1px solid #DFDFDF;
	border-radius: 15px;
	padding: 10px;
}
.seconds h2{
	font-size: 48px;
	margin: 0;
	font-family: 'Rubik', sans-serif;
	line-height: 50px;
}
.seconds p{
	font-size: 20px;
	margin: 0;
	font-family: 'Rubik', sans-serif;
}
.question{
	margin-right: 0;
	margin-left: 7px;
	background-color: #fff;
	border: 1px solid;
	padding: 12px 15px;
}
.game_img_text {
	padding-right: 20px;
}
.game_img_text p{
	font-size: 18px;
	font-weight: lighter;
}
.game_next_btn{
	margin-top: 30px;
}
/*footer*/
.footer_section{
	background-color: #000;
	padding: 30px;
}
.footer_section .footer_text{
	font-size: 16px;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	transition: all 0.3s;
}
.footer_section a:hover{
	color: rgba(255,255,255,0.8) !important;
}
.game_subtext .flex-row-reverse .col-sm-3 {
	-ms-flex: 0 0 130px;
	flex: 0 0 130px;
	max-width: 130px;
}
.game_subtext .flex-row-reverse .col-sm-9 {
	-ms-flex: 0 0 calc(100% - 130px);
	flex: 0 0 calc(100% - 130px);
	max-width: calc(100% - 130px);
}
/*responsive*/
@media only screen and (max-width: 1199px){
	.logo{
		width: 175px;
	}
	.logo_text,
	.nav_link {
		padding-left: 230px;
	}
	.logo_text p{font-size: 22px;}
	.about_section{
		padding-top: 70px;
	}
	.card_text h6 {
		font-size: 20px;
	}
	.card_text p {
		font-size: 16px;
	}
	.time_text_box {
		padding-top: 12px;
	}
	.time_text_box p {
		font-size: 16px;
	}
	.time_text_box .time {
		padding-left: 35px;
	}
	.time_text_box .time_text {
		padding-left: 8px;
	}
	.time_text_box p,
	.time_text_box h6 {
		font-size: 17px !important;
	}
	/*second page*/
	.game_image_section {
		padding-top: 66px;
	}
	.icons {
		margin: auto;
		/*padding: 26px 20px;*/
	}
	.game_text_section {
		padding: 70px 0;
	}
	.game_page_section {
		padding: 70px 0;
	}
	.game_subtext {
		padding: 30px 50px;
	}
	.answers h5 {
		font-size: 24px;
	}
	.answers h6 {
		font-size: 18px;
	}
	.question {
		margin-right: 0;
		margin-left: 0px;
	}
	.game_img_btn .hint,.game_img_btn .question{
		padding: 13px 20px;
	}
}
@media only screen and (max-width: 991px){
	nav {
		padding: 0 30px 0 13px !important;
		display: inline-block !important;
		width: 100%;
	}
	ul.navbar-nav {
		float: right;
	}
	.logo_text ul.navbar-nav {
		float: none;
		border-bottom: 1px solid #a3d9ff;
	}
	.logo_text {
		width: 100%;
		float: left;
	}
	nav li a.icon_link.login{
		font-size: 0px;
		padding: 10px !important;
	}
	nav li a.icon_link{
		padding: 10px !important;
		height: 40px !important;
		width: 40px !important;
		position: relative;
	}
	nav li a img{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		max-width: 16px;
		max-height: 16px;
	}
	.logo{
		width: 150px;
		left: 30px;
	}
	.logo_text,
	.nav_link {
		padding-left: 200px;
	}
	.logo_text p {
		font-size: 20px;
		line-height: 40px;
		border-bottom: 1px solid #a3d9ff;
	}
	.about_section{
		padding-top: 65px;
	}
	.about_text h5{
		font-size: 30px;
	}
	.about_text p{
		line-height: 25px;
		font-size: 17px;
	}
	.card_image {text-align: center;}
	.card_text h6 {
		font-size: 23px;
	}
	.card_text p {
		font-size: 18px;
	}
	.time_text_box {
		padding-top: 20px;
	}
	.time_text_box p {
		font-size: 18px;
	}
	.game_row{
		display: block;
	}
	.game_icon_col{
		padding: 9px;
	}
	.game_icon_col .icons{
		display: inline-block;
	}
	/*second page*/
	.heading_text h5 {
		font-size: 36px;
	}
	.game_text h5 {
		font-size: 24px;
	}
	.game_text p {
		font-size: 16px;
		padding: 15px 0;
	}
	/**/
	.game_section {
		border-radius: 10px;
	}
	.game_images {
		text-align: center;
	}
	.game_img_btn {
		padding: 0px 50px;
		text-align: center;
	}
	.question {
		margin-left: 6px;
	}
	.game_img_text {
		padding-right: 20px;
		padding: 0px 50px;
	}
	.game_clues img {
		left: 0;
	}
	.game_clues h6 {
		padding-left: 35px;
	}
	.answers {
		padding: 15px;
	}
	.seconds p {
		font-size: 18px;
	}
	.game_clues h5 {
		margin-bottom: 8px;
	}
	.game_images img {
		width: 100%;
	}
}
@media only screen and (max-width: 767px){
	nav {
		padding: 0 20px !important;
	}
	.logo{
		width: 140px;
		left: 20px;
	}
	.logo_text p{
		font-size: 17px;
	}
	.logo_text,
	.nav_link {
		padding-left: 160px;
	}
	.game_img_btn,
	.game_img_text{
		padding: 0px 20px;
	}
	nav li a img{
		width: auto;
	}
	.about_section{
		padding-top: 55px;
	}
	.cards_section {
		padding-top: 35px;
	}
	.view_btn {
		padding: 30px 0;
	}
	/*second page*/
	.game_image_section {
		padding-top: 55px;
	}
	.heading_text h5 {
		font-size: 30px;
	}
	.heading_text p {
		font-size: 13px;
	}
	.icons a {
		width: 64px;
		height: 64px;
		line-height: 54px;
	}
	.icons a img {
		max-width: 25px;
		max-height: 25px;
	}
	.game_text a{
		padding: 9px 25px;
	}
	.game_text_heading {
		padding: 20px 30px;
	}
	.game_text_heading h4 {
		font-size: 24px;
	}
	.game_text_section {
		padding: 40px 0;
	}
	.game_text {
		padding: 20px 30px;
	}
	.game_text h5 {
		font-size: 20px;
	}
	.game_text p {
		font-size: 14px;
	}
	.game_subtext {
		padding: 20px 20px;
	}
	.game_page_section {
		padding: 50px 0;
	}
	nav li .login{
		font-size: 0;
	}
	.view_btn a{
		padding: 13px 26px;
	}
}
@media only screen and (max-width: 575px){
	.logo {
		width: 70px;
		height: 70px;
		left: 20px;
		border-radius: 10px;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	nav li a {
		margin-left: 5px;
		font-size: 12px;
		padding: 9px !important;
	}
	.logo_text, .nav_link {
		padding-left: 90px;
	}
	.logo_text p{
		line-height: normal;
	}
	nav li a.icon_link{
		height: 30px !important;
		width: 30px !important;
		margin-left: 5px;
	}
	.footer_section{
		padding: 15px;
	}
	.footer_section .footer_text{
		font-size: 14px;
	}
	.about_section {
		padding-top: 35px;
	}
	.about_text{
		padding: 16px;
	}
	.about_text h5 {
		font-size: 24px;
	}
	.about_text p {
		padding-top: 15px;
		line-height: 24px;
		font-size: 16px;
	}
	.card_text{
		padding-top: 10px;
	}
	.card_text h6 {
		font-size: 20px;
	}
	.card_text p {
		font-size: 16px;
	}
	/*second page*/
	.game_image_section {
		padding-top: 35px;
	}
	.heading_text h5 {
		font-size: 20px;
		margin-bottom: 7px;
	}

	.game_text_heading {
		padding: 20px;
	}
	.game_text_heading h4 {
		font-size: 20px;
	}
	.game_text {
		padding: 20px;
	}
	.game_text h5 {
		font-size: 18px;
	}
	.game_text p {
		margin: 0;
	}
	.game_page_section {
		padding: 30px 0;
	}
	.question {
		margin-top: 10px; 
	}
	.game_img_btn {
		padding: 0 20px;
	}
	.game_img_text {
		padding: 0px 20px;
	}
	.game_clues h5 {
		font-size: 24px;
	}
	.game_clues h6 {
		font-size: 20px;
	}
	.game_clues img {
		bottom: -2px;
	}
	.clue_description h5 {
		font-size: 24px;
	}
	.clue_description p {
		font-size: 14px;
	}
	.seconds {
		padding: 5px;
	}
	.seconds h2 {
		font-size: 38px;
	}
	.answers {
		margin-top: 15px;
	}
	.answers h5 {
		font-size: 20px;
	}
	.answers h6 {
		font-size: 16px;
	}
	.game_subtext .flex-row-reverse .col-sm-3,
	.game_subtext .flex-row-reverse .col-sm-9{
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}

